@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'BioRhyme';
    src: url('../fonts/BioRhyme-Regular.ttf');
}

@font-face {
    font-family: 'Bungee';
    src: url('../fonts/Bungee-Regular.ttf');
}


body {
    font-family: 'BioRhyme', serif;
    font-size: 20px;
    background-color: #803412;

}

h1
{
    font-family: 'Bungee', cursive;
    font-weight: 200;
}

h2, h3
{
    font-family: 'Bungee', serif;
}

.section-base {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.bg-page {
    background: url("../images/bg-page.png") center repeat;
}

/* commom */
.bg-orange-wild { background-color: #F4A443; }
.orange-wild { color: #F4A443; }
.top-bar { height: 50px; }

/* header */
.navbar {
    font-family: 'Permanent Marker', 'sans-serif';
    font-size: 20px;
}

.nav-element {
    /*border-left: 1px solid grey;*/
}

.logo {
    max-height: 100px;
}

.intro-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/bg-header.jpg') center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    height: calc(100vh - 50px);
}

.intro {
    width: 80%;
    margin: 15px auto;
    padding: 30px 8px 30px 8px;
    background-color: rgba(0, 0, 0, 0.88);
    border-radius: 8px;
    min-width: 264px;
    min-height: 400px;
}

.intro h1, .intro p, .my-btn-link {
    color: white;
}

.my-btn-link:hover { color: black; }

@media (max-width: 768px) {
    .intro > p {
        display: none;
    }

    .intro {
        width: 70%;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*Bloc team*/


.wild-title {
    margin: 50px auto 25px auto;
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
    padding-left: 40px;
}
.fix-center {
    padding-left: 0;
    list-style-type: none;
    margin-right: 30px;

}


/*Bloc Carousel*/

.our-drinks {
    margin: 40px auto;
}

.div-max-width {
    margin: 20px auto;
    max-width: 950px;
}
.buttonGroup {
    text-align: center;
    margin: 50px auto;
    padding-top: 20px;
}
.btn-group > button {
    float : inherit !important;
    font-size: 18px;
}
.text-carousel {
    height: 300px;
    padding: 10px;
}
.first-column {
    display: inline-block;
}
.second-column {
    float: right;
    display: inline-block;
}
.drink-bold {
    font-weight: 700;
}
.drink-italic {
    font-style: italic;
}
.drink-price {
    float: right;
}
.softs-price {
    float: right;
}
.happy-hours {
    text-align: center;
}
.beers-text-responsive {
    display: none;
}
.softs-text-responsive {
    display: none;
}
hr {
    border: 0;
    border-top: 1px solid grey;
}

@media (max-width: 480px) {
    .first-column.cocktails {
        display: block;
        margin-bottom: 30px;
    }
    .second-column.cocktails {
        float: none;
        display: block;
    }
    .text-carousel {
        height: 610px;
    }
    .btn-group > button {
        font-size: 14px;
    }
    .beer {
        margin-bottom: 30px;
    }
    .happy-hours {
        display: none;
    }
    .fruit-juice {
        display: block;
        margin-bottom: 15px;
    }
    .drink-bold.fruit-juice {
        margin-bottom: 15px;
    }
    .beers-text-responsive {
        display: block;
        margin-top: 30px;
    }
    .softs-text-responsive {
        display: block;
        margin-top: 85px;
    }
}

/* bloc games */

#jeux {
    /*margin: 0 auto;
    width: 90%;*/
    padding-left: 0;
    padding-right: 0;
}

.section-game {
    padding-left: 0;
    padding-right: 0;
}

.tile
{
    width: 380px;
    height: 360px;
    margin: 20px;
    display: inline-block;
    position: relative;
    transition: all 0.4s ease-out;
    box-shadow: 0 35px 77px -17px rgba(0,0,0,0.44);
    overflow: hidden;
    color: white;
}

.tile img
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text
{
    /*   z-index:99; */
    position: absolute;
    padding: 1px;
    height: calc(100% - 60px);
}

.tile h3
{
    line-height: 34px;
    background-color: rgba(24,24,24,0.8);
    width: 101%;
    height: 33px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    text-align: center;
}

.tile p
{
    scroll-padding-block-start: 15px;
    margin: 25px;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text
{
    opacity: 0;
    transition: all 0.6s ease-in-out;
    color:black;
}

.tile:hover
{
    background-color: #F4A443;
    box-shadow: 0 35px 77px -17px rgba(0,0,0,0.64);
    transform: scale(1.05);
}
.tile:hover img
{
    opacity: 0.2;
}

.tile:hover .animate-text
{
    transform: translateX(0);
    opacity: 1;
}

.tile:hover span
{
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}

@media (max-width: 768px) {
    .tile {
        width: 250px;
        height: 240px;
    }
}


/* footer */

footer {
    color: whitesmoke;
    background-color: #222;
    padding: 50px 50px;
}

footer .text-info {
    padding: 15px;
}

#infos {
    margin: auto;
    /*background: black;*/
}

.footer-title {
    font-weight: bold;
    text-align: center;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.footer-content {
    list-style-type: none;
}

.social {
    width: 90%;
    /*text-align: center;*/
}

.social > i {
    transition: all 0.4s ease-out;
}

.social > i:hover {
    cursor: pointer;
}

#twitter-logo {
    font-size: 50px;
}

#facebook-logo {
    font-size: 41px;
}

i#twitter-logo:hover {
    color: #4099FF;
}

i#facebook-logo:hover {
    color: #3B5998;
}

.credentials {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*map config*/

#map {
    width: 100%;
    height: 300px;
    background-color: grey;
    border-radius: 8px;
}
