body {
    background-color: whitesmoke;
    font-family: 'Eczar', serif;
}

h1
{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 200;
}

h2, h3
{
    font-family: 'Marko One', serif;
}



/* commom */
.bg-orange-wild { background-color: #F4A443; }
.orange-wild { color: #F4A443; }
.top-bar { height: 50px; }

/* header */
.top-bar { height: 50px; }
.navbar { font-size: 18px; }

.logo {
    max-height: 100px;
}

.intro-bg {
    background: url('../images/header.png') center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.intro {
    width: 60%;
    margin: 25px auto 25px auto;
    padding: 30px 8px 30px 8px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.88);
    border-radius: 8px;
    min-width: 264px;
    min-height: 400px;
}

.intro h1, .intro p {
    color: white;
}

.intro p { font-size: 18px; }

.my-btn-link {
    color: white;
    font-size: 18px;
}

.my-btn-link:hover {
    color: black;
}

@media (min-width: 768px) {
    .intro {
        width: 40%;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*Bloc team*/

.wild-title {
    margin: 50px auto 25px auto;
    text-align: center;
}
.team-image {
    text-align: center;
    margin: auto;
}

.jumbotron {
    margin-bottom: 0;
    padding-left: 40px;
}
.fix-center {
    padding-left: 0;
    list-style-type: none;
}

/*Bloc Carousel*/

.notre-carte {
    text-align: center;
    margin: 40px auto;
}

.bg-section {
     margin: 0 auto;
     background-color: #EEE;
     width: 90%;
}

.div-autour {
    margin: 20px auto;
    max-width: 950px;
}

.boutons {
    text-align: center;
    margin: 30px auto;
    padding-top: 20px;
}

.btn-group > button {
    font-size: 18px;
    float : inherit !important;
}

.text-carousel {
    height: 280px;
    padding: 10px;
}

.premiere-colonne {
    display: inline-block;

}

.seconde-colonne {
    float: right;
    display: inline-block;
}

.prix-softs {
    float: right;
}

.prix-boissons {
    float: right;
    font-weight: 700;
}

.boisson-italic {
    font-style: italic;
}

.boisson-gras {
    font-weight: 700;
}
.happy-hours {
    text-align: center;
}
hr {
    border: 0;
    border-top: 1px solid grey;
}


@media (max-width: 480px) {
    .premiere-colonne.cocktails {
        display: block;
        margin-bottom: 30px;
    }
    .seconde-colonne.cocktails {
        float: none;
        display: block;
    }
    .text-carousel {
        height: 430px;
    }
    .btn-group > button {
        font-size: 14px;
    }
    .happy-hours {
        display: none;
    }

}

/* bloc games */

#jeux {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    text-align: center;
}

.tile
{
    width: 380px;
    height: 360px;
    margin: 20px;
    display: inline-block;
    position: relative;
    /*cursor: pointer;*/
    transition: all 0.4s ease-out;
    box-shadow: 0 35px 77px -17px rgba(0,0,0,0.44);
    overflow: hidden;
    color: white;
}

.tile img
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text
{
    /*   z-index:99; */
    position: absolute;
    padding: 1px;
    height: calc(100% - 60px);
}

.tile h3
{
    line-height: 34px;
    background-color: rgba(24,24,24,0.8);
    width: 101%;
    height: 33px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    text-align: center;
}

.tile p
{
    scroll-padding-block-start: 15px;
    margin: 25px;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text
{
    opacity: 0;
    transition: all 0.6s ease-in-out;
    color:black;
}

.tile:hover
{
    background-color: #F4A443;
    box-shadow: 0 35px 77px -17px rgba(0,0,0,0.64);
    transform: scale(1.05);
}
.tile:hover img
{
    opacity: 0.2;
}

.tile:hover .animate-text
{
    transform: translateX(0);
    opacity: 1;
}

.tile:hover span
{
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}

/* footer */

footer {
    color: whitesmoke;
    background-color: #222;
    padding: 50px 50px;
}

footer .text-info {
    padding: 15px;
}

#infos {
    margin: auto;
    /*background: black;*/
}
.footer-title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.footer-content {
    list-style-type: none;
    font-size: large;
}

.social {
    width: 90%;
    /*text-align: center;*/
}

.social > i {
    transition: all 0.4s ease-out;
}

.social > i:hover {
    cursor: pointer;
}

#twitter-logo {
    font-size: 50px;
}

#facebook-logo {
    font-size: 41px;
}

i#twitter-logo:hover {
    color: #4099FF;
}

i#facebook-logo:hover {
    color: #3B5998;
}

/*map config*/

#map {
    width: 100%;
    height: 200px;
    background-color: grey;
    border-radius: 8px;
}
